WORLD_DATAPACKS_PATH="path/to/world/datapacks/folder/without/compatibility/addons"
WORLD_COMPAT_DATAPACKS_PATH="path/to/world/datapacks/folder/with/compatibility/addons"
RESOURCE_PACKS_PATH="path/to/resourcepacks/folder"
